img {
	width: 100%;
	object-fit: cover;
	border-radius: 15px;
	/* border-radius: 10px; */
}
.annonces {
	margin: 0px auto;
	padding: 20px;
	display: flex;
	flex-direction: row;
	/* width: auto; */
}
.lien-annonce {
	display: flex;
	flex-direction: column;
	width: 33%;
	height: auto;
	text-align: center;
	align-items: center;
	justify-content: center;
}
.lien-annoce:hover {
	background-color: blue;
}
.annonce {
	display: flex;
	flex-direction: column;
	width: 33%;
	height: auto;
	text-align: center;
	align-items: center;
	justify-content: center;
	padding: 20px;
}
.index_image {
	width: 30vw;
	height: 350px;
	border-radius: 15px;
}
h3 {
	color: green;
}
.annonce1 {
	display: flex;
	flex-direction: column;
	width: 60%;
	height: auto;
	text-align: center;
	padding: 20px 20px 20px 20px;
	margin: auto;
}
.navigation {
	background-color: #222;
	width: auto;
}
.copyright {
	padding: 15px;
	font-size: 1.1rem;
	position: fixed;
	bottom: 0;
	text-align: center;
	width: 100%;
}
#proceed {
    width: auto;
    background-color: white;
	color: rgb(251, 17, 17);
	font-size: auto;
	font-weight: bold;
	border: 2px solid black;
	border-radius: 5px;
	margin: 20px auto;
	padding: 5px 35px;
}
#cancel:hover,
#proceed:hover {
	background-color: rgb(251, 17, 17);
	color: white;
    text-transform: uppercase;
}
